NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=pk_RELLENA_TRAS_EL_SEED

NEXT_PUBLIC_MEDUSA_BACKEND_URL=http://server:9000

NEXT_PUBLIC_DEFAULT_REGION=br

NEXT_PUBLIC_BASE_URL=http://localhost:8000

NEXT_PUBLIC_STRIPE_KEY=
